:root {
  --lightBlue: #95b8d1;
  --mainwhite: #f5f5f5;
  --mainBlack: #333333;
}
.max-height {
  min-height: 100vh;
}
body {
  background: var(--lightBlue);
}
.message-container {
  background: var(--mainwhite);
}
.message-content {
  color: var(--lightBlue);
}
#submitBtn {
  background: var(--lightBlue);
  color: var(--mainwhite);
}
#submitBtn:hover {
  color: var(--lightBlue);
  color: var(--mainBlack);
}

#joke-btn{
  margin-top: 4%;
  border: 1px solid var(--lightBlue);
}

#joke-btn:hover{
  background-color: aquamarine;
}

#loadAlert{
  color: red;
  display: none;
}

.feedback {
  display: none;
}

.show {
  display: block;
}
